
/* In react to apply styles to the body I have to use the CSS file
  changes placed here are not component specific

*/

body {
  background-color: #010e2c;
  color: white;
  font-family: 'Hind', sans-serif;
}
